:root {
  --brand-foundation-black: #000000;
  --brand-foundation-white: #ffffff;
  --brand-blue-50: #f0f3fe;
  --brand-blue-100: #dee5fd;
  --brand-blue-200: #bbcbfc;
  --brand-blue-300: #97b2fa;
  --brand-blue-400: #6e99f8;
  --brand-blue-500: #3882f6;
  --brand-blue-600: #2065c8;
  --brand-blue-700: #164c98;
  --brand-blue-800: #0c336b;
  --brand-blue-900: #041d41;
  --brand-blue-950: #02132e;
  --brand-green-50: #cdffe5;
  --brand-green-100: #88ffc8;
  --brand-green-200: #18eba5;
  --brand-green-300: #14d293;
  --brand-green-400: #10b981;
  --brand-green-500: #0b996a;
  --brand-green-600: #077a54;
  --brand-green-700: #04593c;
  --brand-green-800: #023d28;
  --brand-green-900: #012315;
  --brand-green-950: #00180d;
  --brand-grey-50: #F6F6FCFF;
  --brand-grey-100: #EAEAF7FF;
  --brand-grey-200: #D7D7F0FF;
  --brand-grey-300: #B8B8E5FF;
  --brand-grey-400: #9898D9FF;
  --brand-grey-500: #7979CCFF;
  --brand-grey-600: #5A5ABBFF;
  --brand-grey-700: #4040A8FF;
  --brand-grey-800: #2A2A77FF;
  --brand-grey-900: #171749FF;
  --brand-grey-950: #0C0C30FF;
  --brand-indigo-50: #f3f3fe;
  --brand-indigo-100: #e7e6fc;
  --brand-indigo-200: #cccbf9;
  --brand-indigo-300: #b4b2f6;
  --brand-indigo-400: #9a97f3;
  --brand-indigo-500: #827ef0;
  --brand-indigo-600: #6862eb;
  --brand-indigo-700: #4f46e5;
  --brand-indigo-800: #2d21b8;
  --brand-indigo-900: #181070;
  --brand-indigo-950: #0d084c;
  --brand-red-50: #fceded;
  --brand-red-100: #fadfdf;
  --brand-red-200: #f6bebe;
  --brand-red-300: #f39c9c;
  --brand-red-400: #f17676;
  --brand-red-500: #ef4444;
  --brand-red-600: #c52b2b;
  --brand-red-700: #961e1e;
  --brand-red-800: #691212;
  --brand-red-900: #400707;
  --brand-red-950: #290303;
  --brand-yellow-50: #fff2db;
  --brand-yellow-100: #ffe6b0;
  --brand-yellow-200: #facc15;
  --brand-yellow-300: #d7af10;
  --brand-yellow-400: #b7950c;
  --brand-yellow-500: #967908;
  --brand-yellow-600: #786105;
  --brand-yellow-700: #594703;
  --brand-yellow-800: #3e3101;
  --brand-yellow-900: #231b00;
  --brand-yellow-950: #171000;

  --brand-scale-0: 0rem;           /* 0px */
  --brand-scale-25: 0.0625rem;     /* 1px */
  --brand-scale-50: 0.125rem;      /* 2px */
  --brand-scale-100: 0.25rem;      /* 4px */
  --brand-scale-200: 0.5rem;       /* 8px */
  --brand-scale-300: 0.75rem;      /* 12px */
  --brand-scale-400: 1rem;         /* 16px */
  --brand-scale-500: 1.25rem;      /* 20px */
  --brand-scale-600: 1.5rem;       /* 24px */
  --brand-scale-700: 1.75rem;      /* 28px */
  --brand-scale-800: 2rem;         /* 32px */
  --brand-scale-900: 2.5rem;       /* 40px */
  --brand-scale-1000: 3rem;        /* 48px */
  --brand-scale-1100: 4rem;        /* 64px */

  --alias-error-50: var(--brand-red-50);
  --alias-error-100: var(--brand-red-100);
  --alias-error-200: var(--brand-red-200);
  --alias-error-300: var(--brand-red-300);
  --alias-error-400: var(--brand-red-400);
  --alias-error-500: var(--brand-red-500);
  --alias-error-700: var(--brand-red-700);
  --alias-error-800: var(--brand-red-800);
  --alias-error-900: var(--brand-red-900);
  --alias-error-950: var(--brand-red-950);
  --alias-error-default: var(--brand-red-600);
  --alias-information-50: var(--brand-blue-50);
  --alias-information-100: var(--brand-blue-100);
  --alias-information-200: var(--brand-blue-200);
  --alias-information-300: var(--brand-blue-300);
  --alias-information-400: var(--brand-blue-400);
  --alias-information-600: var(--brand-blue-600);
  --alias-information-700: var(--brand-blue-700);
  --alias-information-800: var(--brand-blue-800);
  --alias-information-900: var(--brand-blue-900);
  --alias-information-950: var(--brand-blue-950);
  --alias-information-default: var(--brand-blue-500);
  --alias-neutral-50: var(--brand-grey-50);
  --alias-neutral-100: var(--brand-grey-100);
  --alias-neutral-200: var(--brand-grey-200);
  --alias-neutral-300: var(--brand-grey-300);
  --alias-neutral-400: var(--brand-grey-400);
  --alias-neutral-500: var(--brand-grey-500);
  --alias-neutral-700: var(--brand-grey-700);
  --alias-neutral-800: var(--brand-grey-800);
  --alias-neutral-900: var(--brand-grey-900);
  --alias-neutral-950: var(--brand-grey-950);
  --alias-neutral-black: var(--brand-foundation-black);
  --alias-neutral-default: var(--brand-grey-600);
  --alias-neutral-white: var(--brand-foundation-white);
  --alias-primary-50: var(--brand-indigo-50);
  --alias-primary-100: var(--brand-indigo-100);
  --alias-primary-200: var(--brand-indigo-200);
  --alias-primary-300: var(--brand-indigo-300);
  --alias-primary-500: var(--brand-indigo-500);
  --alias-primary-700: var(--brand-indigo-700);
  --alias-primary-800: var(--brand-indigo-800);
  --alias-primary-900: var(--brand-indigo-900);
  --alias-primary-950: var(--brand-indigo-950);
  --alias-primary-default-fixed: var(--brand-indigo-600);
  --alias-primary-default-secondary: var(--brand-indigo-400);
  --alias-success-50: var(--brand-green-50);
  --alias-success-100: var(--brand-green-100);
  --alias-success-200: var(--brand-green-200);
  --alias-success-300: var(--brand-green-300);
  --alias-success-400: var(--brand-green-400);
  --alias-success-600: var(--brand-green-600);
  --alias-success-700: var(--brand-green-700);
  --alias-success-800: var(--brand-green-800);
  --alias-success-900: var(--brand-green-900);
  --alias-success-950: var(--brand-green-950);
  --alias-success-default: var(--brand-green-500);
  --alias-warning-50: var(--brand-yellow-50);
  --alias-warning-100: var(--brand-yellow-100);
  --alias-warning-200: var(--brand-yellow-200);
  --alias-warning-300: var(--brand-yellow-300);
  --alias-warning-500: var(--brand-yellow-500);
  --alias-warning-600: var(--brand-yellow-600);
  --alias-warning-700: var(--brand-yellow-700);
  --alias-warning-800: var(--brand-yellow-800);
  --alias-warning-900: var(--brand-yellow-900);
  --alias-warning-950: var(--brand-yellow-950);
  --alias-warning-default: var(--brand-yellow-400);

}

:root {
  /* Border */
  --border-action-hover: var(--alias-primary-700);
  --border-action: var(--alias-primary-default-fixed);
  --border-default: var(--alias-neutral-100);
  --border-disabled: var(--alias-neutral-100);
  --border-error: var(--alias-error-200);
  --border-focus: var(--alias-primary-default-fixed);
  --border-information: var(--alias-information-200);
  --border-success: var(--alias-success-200);
  --border-warning: var(--alias-warning-200);

  /* Icons */
  --icons-action-hover: var(--alias-primary-700);
  --icons-action: var(--alias-primary-default-fixed);
  --icons-body: var(--alias-neutral-900);
  --icons-disabled: var(--alias-neutral-700);
  --icons-error: var(--alias-error-default);
  --icons-headings: var(--alias-neutral-950);
  --icons-information: var(--alias-information-default);
  --icons-on-action: var(--alias-neutral-white);
  --icons-success: var(--alias-success-default);
  --icons-warning: var(--alias-warning-default);

  /* Surface */
  --surface-action-hover-light: var(--alias-primary-50);
  --surface-action-hover: var(--alias-primary-700);
  --surface-action-hover-secondary: var(--alias-primary-default-fixed);
  --surface-action-secondary: var(--alias-primary-default-secondary);
  --surface-action: var(--alias-primary-default-fixed);
  --surface-default: var(--alias-neutral-white);
  --surface-disabled: var(--alias-neutral-100);
  --surface-error: var(--alias-error-400);
  --surface-information: var(--alias-primary-50);
  --surface-page: var(--alias-neutral-50);
  --surface-success: var(--alias-success-50);
  --surface-warning: var(--alias-warning-50);

  /* Text */
  --text-action-hover: var(--alias-primary-700);
  --text-action: var(--alias-primary-default-fixed);
  --text-body: var(--alias-neutral-900);
  --text-disabled: var(--alias-neutral-700);
  --text-error: var(--alias-error-500);
  --text-headings: var(--alias-neutral-950);
  --text-information: var(--alias-information-default);
  --text-on-action: var(--alias-neutral-white);
  --text-success: var(--alias-success-default);
  --text-warning: var(--alias-warning-default);
}

:root {
  /* Headings (Size / Line Height / Margin Bottom) */
  --font-size-h1: 3rem; /* 48px */
  --line-height-h1: 1.167; /* 56px / 48px */
  --spacing-h1-bottom: 2.75rem; /* 44px */

  --font-size-h2: 2.5rem; /* 40px */
  --line-height-h2: 1.2; /* 48px / 40px */
  --spacing-h2-bottom: 2.5rem; /* 40px */

  --font-size-h3: 2rem; /* 32px */
  --line-height-h3: 1.25; /* 40px / 32px */
  --spacing-h3-bottom: 2.375rem; /* 38px */

  --font-size-h4: 1.75rem; /* 28px */
  --line-height-h4: 1.143; /* 32px / 28px */
  --spacing-h4-bottom: 2.125rem; /* 34px */

  --font-size-h5: 1.5rem; /* 24px */
  --line-height-h5: 1.167; /* 28px / 24px */
  --spacing-h5-bottom: 1.75rem; /* 28px */

  --font-size-h6: 1.25rem; /* 20px */
  --line-height-h6: 1.2; /* 24px / 20px */
  --spacing-h6-bottom: 1.25rem; /* 20px */

  /* Body Paragraphs */
  --font-size-p-lg: 1.25rem; /* 20px */
  --line-height-p-lg: 1.2; /* 24px / 20px */

  --font-size-p-md: 1rem; /* 16px */
  --line-height-p-md: 1.25; /* 20px / 16px */

  --font-size-p-sm: 0.875rem; /* 14px */
  --line-height-p-sm: 1.143; /* 16px / 14px */

  --font-size-p-xsm: 0.75rem; /* 12px */
  --line-height-p-xsm: 1.167; /* 14px / 12px */

  --spacing-p-bottom: 1.25rem; /* 20px standard paragraph spacing */
}
